*, :after, :before {
    box-sizing: inherit;
}

body {
    display: flex;
    flex-direction: column;
    font-family: "Noto Serif SC", serif, sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
}

.section {
    display: flex;
    flex-direction: row;
    /* min-height: 100%; */
}

#map {
    display: flex;
    flex: auto;
    flex-direction: column;
    outline: none;
    border-left: 1px solid #afafaf;
    width: 100%;
    /* min-height: 100vh; */
}

#sidebar {
    display: flex;
    flex: auto;
    flex-direction: column;
    width: 30%;
    min-height: 100vh;
    top: 0;
    bottom: 0;
    text-align: center;
    color: #ffffff;
    background-color: #979797;
    padding-top: 20px;
}

.first_content, .second_content, .third_content {
    background-color: #fff;
    width: 80%;
    margin: 0 7% 8% 10%;
    color: #5e5e5e;
    padding: 1px;
    box-shadow: -1px 2px 10px -3px rgba(0,0,0,0.42);
}

.first_content {
    height: auto;
    font-size: 1rem;
}

.second_content {
    height: auto;
    font-size: 1rem;
}

.third_content {
    height: auto;
    font-size: 1rem;
}

.title {
    margin-bottom: -12px;
    text-decoration: underline;
    font-size: 1rem;
}

.owners a {
    text-decoration: none;
    color: #5e5e5e;
}


/* ========== UTILITIES =========== */

.mapboxgl-ctrl-group:not(:empty) {
    -moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
    background-color: #979797;
}

.mapboxgl-ctrl-icon.mapboxgl-ctrl-zoom-in {
    background-image: url(data:image/svg+xml;charset=utf8,<svg%20viewBox%3D%270%200%2020%2020%27%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27>%0A%20%20<path%20style%3D%27fill%3A%23fff%3B%27%20d%3D%27M%2010%206%20C%209.446%206%209%206.4459904%209%207%20L%209%209%20L%207%209%20C%206.446%209%206%209.446%206%2010%20C%206%2010.554%206.446%2011%207%2011%20L%209%2011%20L%209%2013%20C%209%2013.55401%209.446%2014%2010%2014%20C%2010.554%2014%2011%2013.55401%2011%2013%20L%2011%2011%20L%2013%2011%20C%2013.554%2011%2014%2010.554%2014%2010%20C%2014%209.446%2013.554%209%2013%209%20L%2011%209%20L%2011%207%20C%2011%206.4459904%2010.554%206%2010%206%20z%27%20%2F>%0A<%2Fsvg>%0A) !important;
}

.mapboxgl-ctrl-zoom-out {
    background-image: url(data:image/svg+xml;charset=utf8,<svg%20viewBox%3D%270%200%2020%2020%27%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27>%0A%20%20<path%20style%3D%27fill%3A%23fff%3B%27%20d%3D%27m%207%2C9%20c%20-0.554%2C0%20-1%2C0.446%20-1%2C1%200%2C0.554%200.446%2C1%201%2C1%20l%206%2C0%20c%200.554%2C0%201%2C-0.446%201%2C-1%200%2C-0.554%20-0.446%2C-1%20-1%2C-1%20z%27%20%2F>%0A<%2Fsvg>%0A) !important;
  }