*, :after, :before {
    box-sizing: inherit;
}

body {
    font-family: "Noto Serif SC", serif, sans-serif;
    margin: 0;
    padding: 0;
}

#map {
    border-left: 1px solid #afafaf;
    position: absolute;
    left: 30%;
    width: 70%;
    top: 0;
    bottom: 0;
}

#sidebar {
    width: 30%;
    position: absolute;
    top: 0;
    bottom: 0;
    text-align: center;
    color: #ffffff;
    background-color: #979797;
    padding-top: 20px;
    padding-bottom: 7px;
}

.first_content, .second_content, .third_content {
    background-color: #fff;
    width: 80%;
    margin: 0 7% 8% 10%;
    color: #5e5e5e;
    position: relative;
    padding: 1px;
    box-shadow: -1px 2px 10px -3px rgba(0,0,0,0.42);
}

.first_content {
    height: 20%;
    top: 0;
    bottom: 0;
}

.second_content {
    height: 40%;
    top: 0;
    bottom: 0;
}

.third_content {
    height: 30%;
    top: 0;
    bottom: 0;
}

.title {
    margin-bottom: -12px;
    text-decoration: underline;
}